*.pyc
.idea
voprov.egg-info
tutorials/*.json
tutorials/*.png
tutorials/*.xml
tutorials/.ipynb_checkpoints
test/
tutorials/one_step.py
tutorials/modif1.py
tutorials/modif2.py
tutorials/modif3.py
.DS_Store
.venv
